<!doctype html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <script src="jquery/jquery.js"></script>
    <script type="text/javascript" src='js/bootstrap.min.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</head>

<header>

    <div class="cabecera" style="background-color:#68CCC4; height: 93px;">
        <div class="row">
            <div class="col-9">
                <img src="Imagenes/Logo.svg" style="padding: 20px; margin-left: 50px  ;"  alt="">
            </div>
            <div class="col -2" style="margin-top: 20px;">
                <p class="text-right" style="float: right ;"></pclass><strong>!Hola! Nombre</strong> <br>
                    Rol
                </p>

            </div>
            <div class="col-1" style="float: left ;">
                <img src="Imagenes/Lina.png" style="width: 51px; height: 51px; margin-top: 20px; float: left; "  alt="">
            </div>
        </div>
    </div>


</header>

<div class="row justify-content-right">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%; height: 41px; background-color:#1F76BA;">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center" style = "background-color: #1F76BA; color: aliceblue; width: 100%; height: 41px;">
                    <li class="nav-item active" >
                        <a class="nav-link" href="index.html" style = "color: #ffff ;">Inicio</a>
                    </li>

                    <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEmpresa" role="button" data-bs-toggle="dropdown" aria-expanded="false"style="color:#ffff;">
                            Empresas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="see_enterprise.html">Ver</a></li>
                            <li><a class="dropdown-item" href="new_enterprise.html">Crear</a></li>

                        </ul>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"style="color:#ffff;">
                            Empleados
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
                            <li><a class="dropdown-item" href="see_employee.html">Ver</a></li>
                            <li><a class="dropdown-item" href="new_employee.html">Crear</a></li>

                        </ul>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownA" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#ffff;">
                            Movimientos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownA">
                            <li><a class="dropdown-item" href="see_transaction.html">Ver</a></li>
                            <li><a class="dropdown-item" href="new_transaction.html">Agregar</a></li>

                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    </ul>
</div>

<body>


<div class="formularioMovimiento" style="margin-left: 10%; margin-top:2%;">

    <div class="row">
        <h3><strong>Nuevo movimiento</strong> </h3>
        <div class="col-4">

            <form>
                <div class="form-group" style="margin-top: 30px;">

                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputPassword1"><strong>Empresa</strong></label>
                    <input type="Empresa" class="form-control" id="empresa" placeholder="Nombre de la empresa">
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputPassword1"><strong>Monto</strong></label>
                    <input type="monto" class="form-control" id="monto" placeholder="Ingrese Valor $">
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputPassword1"><strong>Concepto</strong></label>
                    <input type="concept" class="form-control" id="concepto" placeholder="Ingrese Concepto">
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputPassword1"><strong>Fecha</strong></label>
                    <input type="movimiento" class="form-control" id="exampleInputPassword1" placeholder="seleccione fecha">
                </div>
                <br>
                <h6><strong>Tipo de movimiento</strong></h6>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Ingreso
                    </label>
                    <div class="form-check" style="float: right; margin-right: 60%;">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Egreso
                        </label>
                </div>

                <button type="submit" class="btn btn-primary" style="width:100%; background-color:#1F76BA; margin-top:40px;">
                    Agrega Movimiento
                </button>
            </form>
            <br>
        </div>

    </div>
    <div class="col-8">

        <img src="Imagenes/Nuevo Movimiento.svg" style="margin-left:10%; margin-top:50px" alt="imagen empresa">
    </div>

</div>

</body>
</html>