<!DOCTYPE html>
<html lang="en"xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Emplas S.A</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Lista de empleados</h1>
  <hr>
  <h1>Guardar Empleado</h1>
  <form action="#" th:action="@{/saveEmployee}"th:object="${employee}" method="post">
  <input type ="text" th:field="name"placeholder="Nombre del Empleado" class="form-control mb4 col-4">
         </form>
</div>
</body>
</html>


